/* posts */

.imagen-post {
    width: 750px;
    height: auto;
    margin-bottom: 10px;
  }
  
  #post-list h2{
      font-size: 25pt;
      margin-top: 0;
  }
  
  .contergeneral {
    max-width: 800px;
    margin: 0 auto;
  }
  
  #post-list ul {
    padding: 0;
    width: 90%;
  }
  
  #post-list li {
    list-style: none;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .imagen-post {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .post-content {
    font-size: 1em;
    line-height: 1.6;
  }
  
  .post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
  
  .post-footer small {
    color: #888;
  }