:root {
  --font: "Montserrat", system-ui, sans-serif;
  --max-width: 1400px;
  --radius: 10px;
  --max-radius: 40px;
  --c-lighter: #b1d0e050;
  --c-light: #fff;
  --c-medium: #6998ab60;
  --c-dark: #28d;
  --c-darker: #28d;
  --c-bg-elements: #0004;
}
html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
html::-webkit-scrollbar {
  width: 6px;
  background: #555555;
}
html::-webkit-scrollbar-thumb {
  background: #151515;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.active {
  background: var(--c-bg-elements);
}

body {
  margin: 0;
  font-family: var(--font);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  min-height: 100vh;
  position: relative;
}

body h1 {
  color: #151515;
}

.container-general {
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

main {
  max-height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  padding-left: 62px;
  position: relative;
}

main .menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--c-darker);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 62px;
  height: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: var(--i-padding);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 2;
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  border-right: solid 1px var(--c-lighter);
}
main .menu:hover,
main .menu:active {
  width: 200px;
  border-radius: 0 var(--radius) var(--radius) 0;
}
main .menu .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
}
main .menu .avatar .thumb {
  border-radius: 50%;
  width: 100%;
  max-width: 40px;
}
main .menu .avatar .name {
  color: var(--c-elements);
  font-weight: 500;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main .menu:hover .avatar .name,
main .menu:active .avatar .name {
  opacity: 1;
  visibility: visible;
}
main .menu .primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  place-items: center;
}
main .menu .primary .menu-item {
  font-weight: 400;
  text-decoration: none;
  color: var(--c-elements);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
main .menu:hover .primary .menu-item,
main .menu:active .primary .menu-item {
  width: 100%;
  border-radius: var(--max-radius);
}
main .menu .primary .menu-item:hover {
  background: var(--c-bg-elements);
}
main .menu .primary .menu-item span:first-child {
  font-size: 21px;
}
main .menu .primary .menu-item .desc {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
main .menu:hover .primary .menu-item .desc,
main .menu:active .primary .menu-item .desc {
  opacity: 1;
  visibility: visible;
}
main .menu .expander {
  color: var(--c-elements);
  font-size: 24px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
main .menu:hover .expander,
main .menu:active .expander {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

main .topbar {
  position: fixed;
  left: 0;
  top: 0;
  width: calc(100% - 62px);
  margin-left: 62px;
  height: 60px;
  z-index: 1;
  background: var(--c-dark);
  border-bottom: solid 1px var(--c-lighter);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  padding: 0 var(--o-padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main .topbar .current {
  color: var(--c-elements);
  font-size: 24px;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
main .topbar nav {
  overflow: overlay;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 4px;
}
main .topbar nav::-webkit-scrollbar {
  height: 2px;
}
main .topbar nav::-webkit-scrollbar-thumb {
  background: var(--c-bg-elements);
}
main .topbar nav .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  padding: 0 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: var(--c-elements);
  border-radius: var(--max-radius);
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
main .topbar nav .menu-item:hover {
  background: var(--c-bg-elements);
}

main .dashboard {
  border-top: solid 1px var(--c-lighter);
  background-color: var(--c-light);
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  padding: var(--o-padding);
  display: -ms-grid;
  display: grid;
  grid-gap: var(--o-padding);
  position: relative;
  overflow: overlay;
}

@media (min-width: 1024px) {
  .container-general {
    margin: var(--o-padding);
    -webkit-box-shadow: 0 0px 1rem #0003;
    box-shadow: 0 0px 1rem #0003;
    overflow: hidden;
  }
  main {
    min-height: 500px;
    max-height: calc(100vh - (2 * var(--o-padding)));
    border-radius: var(--radius);
    -ms-grid-columns: auto 380px;
    padding-left: 74px;
  }
  main .menu {
    width: 74px;
    /* position: absolute; */
    top: unset;
    /* border-radius: var(--radius) 0 0 var(--radius); */
  }
  main .menu:hover {
    border-radius: var(--radius);
  }
  main .menu .avatar {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  main .menu .avatar .thumb {
    max-width: 70px;
  }
  main .topbar {
    /* position: absolute; */
    width: calc(100% - 74px);
    margin-left: 74px;
    /* border-radius: 0 var(--radius) 0 0; */
  }
  main .dashboard {
    margin-top: 60px;
    border-top: unset;
    height: calc(100vh - (2 * var(--o-padding)) - 60px);
    -ms-grid-columns: 1fr var(--o-padding) 1fr var(--o-padding) 1fr;
  }
}
